{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset = "UTF-8" />
        <title>About CCC</title>
        <link rel = "stylesheet" href = "{% static 'css/style.css' %}">
    </head>
    <body style="background-color:#1D1D1D;">
        <div class="nav">
            
        </div>
        <div class="about-header-container">
            <img class = "header-rady" src="../static/images/Rady-school-of-management-lead-1024x653.jpg" />
            <h1 style = "color: white;"> About Us </h1>
            
        </div>
    </body>


</html>
