{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset = "UTF-8" />
        <title>About CCC</title>
        <link rel = "stylesheet" href = "{% static 'css/style.css' %}">
    </head>
    <body style="background-color:#1D1D1D;">
        <div class="w3-container">
            <img class = "header-rady" src="../static/images/secondRady.jpg" />
            <h1 class = "page-text" style = "color: white;"> ABOUT US </h1>
            
        </div>

        <div>
            <h2 class = "page-text" style="top: 80px; left: 133px; font-size: 2.8em; font-weight: normal;">OUR MISSION</h2>
        </div>

        <!-- <div>
            <section class="container">
              <div class="left-half">
                <img src="https://ucsdnews.ucsd.edu/news_uploads/130307rady.jpg">
              </div>
              <div class="right-half">
                <article>
                  <h1>Right Half</h1>
                  <p>If your knees aren't green by the end of the day, you ought to seriously re-examine your life.</p>
                </article>
              </div>
            </section>
        </div> -->

    </body>


</html>
